* {
  margin: 0;
  outline: none;
  padding: 0;
}

html, body {
  font: normal 14px/1.8 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

h1 {
  border-bottom: 1px solid #eee;
  margin: 10px 0;
}

.upload-online-status-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.online-status {
  display: inline-block;

  &:before {
    content: '';
    border-radius: 100%;
    display: inline-block;
    margin: 0 10px 0 0;
    height: 10px;
    width: 10px;
  }

  &.online:before {
    background: green;
  }

  &.offline:before {
    background: red;
  }
}

.sync {
  button {
    margin-right: 10px;
  }
}
